body { 
    font-family: Arial, 
    sans-serif; 
    margin: 20px; 
    padding: 0; 
    background-color: white; /* Default light mode background */
    color: black; /* Default light mode text color */
}

.dark-mode {
    background-color: black; /* Dark mode background */
    color: white; /* Dark mode text color */
}

.dark-mode h2 {
    color: lightblue; /* Example color for headings in dark mode */
}

.dark-mode th {
    background-color: #333; /* Dark background for table headers */
    color: white; /* Light text color for table headers */
}

hr { 
    margin: 20px 0;
}
h2 {
    color: rgb(24, 118, 144);
}
table { 
    width: 100%; 
    border-collapse: collapse; 
}
th, td { 
    border: 1px solid black; 
    padding: 8px; text-align: left; }
th { 
    background-color: #f2f2f2; 
    color: chocolate; 
}
img { 
    display: block; 
    margin: 10px auto; 
    border-radius: 10px; 
    max-width: 300px; 
}
